::ng-deep ng-sidebar-container{
    min-height: 100vh;

}

::ng-deep .ng-sidebar{
    background-color: #67696d !important;
    color: white;
    margin-top: 3.5rem;
    text-align: center;
    z-index: 10 !important;

    #UserBox{
        margin-top: 1rem;
        padding: 1rem 0rem;

        img{
            height: 75px;
            width: 100%;
            margin-bottom: 1rem;
        }
    }

    .linkDiv{
        padding: 0.5rem 5rem;
        cursor: pointer;
    }
    .active{
        background-color: #e4e7ec !important;
        color: #000 !important;
    }

    .linkDiv,.active, 
    .linkDiv:active, .active:active, 
    .linkDiv:focus, .active:focus, 
    .linkDiv:hover, .active:hover{
        text-decoration: none;
        border: none;
        outline: none;
    }

} 

#RouterPages{
    margin: 0;
    padding: 0;
    margin-top: 3.5rem;
}
