<!-- Container for sidebar(s) + page content -->
<ng-sidebar-container *ngIf="IsLoggedIn()" [animate]="false">
<!-- A sidebar -->
<ng-sidebar 
    [autoCollapseWidth]=1000
    [(opened)]="_opened" 
    [(showBackdrop)]= "_shade"
    [mode]="_mode"
    onModeChange="_mode"
    allowSidebarBackdropControl=true
    closeOnClickBackdrop=true>
    
    <!-- sidebar contents -->
    <div id="FirstLink" routerLink="/home" routerLinkActive="active" class="linkDiv">
        <h5>Home</h5>
    </div>
    <div routerLink="/history" routerLinkActive="active" class="linkDiv">
        <h5>History</h5>
    </div>
    <div routerLink="/requests" routerLinkActive="active" class="linkDiv" 
        *ngIf="(IsManager() || IsAdmin()) || (IsCreator())">
        <h5>Requests</h5>
    </div>
    <div routerLink="/products" *ngIf="IsAdmin() || IsCreator()" routerLinkActive="active" class="linkDiv">
        <h5>Products</h5>
    </div>
    <div routerLink="/users" *ngIf="IsAdmin() || IsCreator()" routerLinkActive="active" class="linkDiv">
        <h5>Users</h5>
    </div>
    <div routerLink="/dashboard" *ngIf="IsCreator()" routerLinkActive="active" class="linkDiv">
        <h5>Dashboard</h5>
    </div>
    <div routerLink="/settings" routerLinkActive="active" class="linkDiv">
        <h5>Settings</h5>
    </div>

</ng-sidebar>
<!-- Page content -->
<div ng-sidebar-content>

    <!-- bootstrap navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow fixed-top">

        <div class="text-white bg-dark mr-3 px-2" style="cursor: pointer;" (click)="_toggleSidebar()">
            <i class="k-icon k-i-menu"></i>
        </div>    

        <a class="navbar-brand" href="">
           <img src="../../../assets/images/equiniti-logo-rounded.png" 
                width="30" height="30" class="d-inline-block align-top" alt="">
            Inva
        </a> 
        
        <ul class="nav justify-content-end ml-auto">
            <li class="nav-item" id="Logout">
                <a class="nav-link active text-white" (click)="Logout()">Logout</a>
            </li>
        </ul>

    </nav>
    <!-- the whole application -->
    <div id="RouterPages" class="p-3">
        <router-outlet></router-outlet>  
    </div>

</div>

</ng-sidebar-container>



