<section id="Dashboard">
<h2 class="pt-2">Creator's Dashboard</h2><hr>

<!-- charts for overview of products -->
<article id="Charts" class="row">

<div class="col-lg-6 mt-2">
    <div class="card shadow p-4">
        <kendo-chart style="height: 300px;">
            <kendo-chart-title text="Most Demanded Products"></kendo-chart-title>
            <kendo-chart-tooltip format="{0} Requests"></kendo-chart-tooltip>               
            <kendo-chart-value-axis>
                    <kendo-chart-value-axis-item [majorUnit]="5">
                    </kendo-chart-value-axis-item>
            </kendo-chart-value-axis>
            <kendo-chart-series>
                <kendo-chart-series-item
                    type="column" [data]="topProducts"
                    field="count" categoryField="value">
                </kendo-chart-series-item>
            </kendo-chart-series>
        </kendo-chart>
    </div>
</div>

<div class="col-lg-6 mt-2">
    <div class="card shadow p-4">
        <kendo-chart style="height: 300px;">
            <kendo-chart-title text="Stock Alert Of Popular Products"></kendo-chart-title>
            <kendo-chart-tooltip format="{0} Units"></kendo-chart-tooltip>               
            <kendo-chart-series>
                <kendo-chart-series-item
                    type="donut" [data]="StockAlert"
                    field="Quantity" categoryField="Name">
                </kendo-chart-series-item>
            </kendo-chart-series>
        </kendo-chart>
    </div>
</div>

</article>

<!-- craetor's user management -->
<article id="UserManagement" class="mt-3" #container>
<div class="card p-2 shadow">
<div class="card-header">
    User Administration
</div>
<div class="card-body">

    <kendo-grid 
    [kendoGridBinding]="rows" 
    [height]="410"
    [pageSize]="10"
    [pageable]="true"
    [resizable]="true"
    [sortable]="{
        allowUnsort: 'true',
        mode: 'multiple'
    }"
    [sort]="sort"
    (remove)="removeHandler($event)">


    <ng-template kendoGridToolbarTemplate>
    <div class="row">
        <div class="col-lg-12 mt-2">
            <input type="text" 
                    class="form-control" placeholder="Search!"
                    id="SearchFieldAddProduct"
                    #SearchFieldAddProduct (keyup)="Search(SearchFieldAddProduct.value)">
        </div>
    </div>
    </ng-template>

    <kendo-grid-column field="Name" title="Name" width="220">
    </kendo-grid-column>
    <kendo-grid-column field="Email" title="Email" width="220">
    </kendo-grid-column>
    <kendo-grid-column field="Department" title="Department" width="200">
    </kendo-grid-column>

    <kendo-grid-command-column title="Actions" width="120" class="text-center">
    <ng-template kendoGridCellTemplate>
        <button kendoGridRemoveCommand class="bg-danger text-white">
            <span>Delete</span>
        </button>
    </ng-template>
    </kendo-grid-command-column>
    </kendo-grid>

</div>

</div>
</article>
        
</section>