/* You can add global styles to this file, and also import other style files */


// Set the variables here.
$accent: #353a40;
@import "~@progress/kendo-theme-bootstrap/dist/all.scss";

* {
    box-sizing: border-box;
   }
   *:before,
   *:after {
    box-sizing: border-box;
   }
   html,
   body {
    height: 100%;
    position: relative;
    padding: 0;
    margin: 0;
   }
   .main-container {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px; /* height of your footer */
   }
   footer {
    position: absolute;
    bottom: 0;
    width: 100%;
   }

a, a:focus, a:hover, a:active{
    color: #fff;
    border: none;
    text-decoration: none;
    outline: none;
}
.card-header, .card-footer{
    background-color: #fff;
}
